@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@import "reset.css";
@import "variables.css";

@import "components/no-mobile.css";
@import "components/table.css";
@import "components/button.css";
@import "components/input.css";
@import "components/plant.css";

body {
  height: 100vh;
  background-color: var(--backgroundColor);
  font-family: var(--font);
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 2fr 9fr 1.5fr;
}
.hidden {
  display: none;
}

h1 {
  color: var(--mainColor);
  grid-column: 2 / 3;
  font-size: 50px;
  justify-self: center;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
